__pycache__/
*.py[cod]
*$py.class

.env
.env.*

venv/
.venv/

.vscode/

.ipynb_checkpoints/

*.log
*.sqlite3
*.db

.coverage
.cache
.pytest_cache/

.mypy_cache/

dist/
build/
*.spec

os_layer/vosk-model-small-en-us-0.15/
os_layer/vosk-model-en-us-0.42-gigaspeech

*.pyc